# EDA SSB
Show how to use the SSB api

In [3]:
import os
import sys
PROJECT_DIRECTORY = os.path.realpath(os.path.curdir)

module_path = os.path.abspath(os.path.join(".."))
if module_path not in sys.path:
    sys.path.append(module_path)

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2

In [4]:
## Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

from src.dataframe import clean_column_headers


## Logging

Enable logging and crank up log level to DEBUG. This is particularly useful when developing code in your project module and using it from a notebook.

In [5]:
import logging
from src.log import logger

logger.setLevel(logging.DEBUG)

In [12]:
from etl.etl_ssb_api import fetch_data

In [14]:
fetch_data()

              varegruppe statistikkvariabel      uke     value
0     Fersk oppalen laks        Vekt (tonn)  2021U12  20495.00
1     Fersk oppalen laks        Vekt (tonn)  2021U13  14286.00
2     Fersk oppalen laks        Vekt (tonn)  2021U14  15144.00
3     Fersk oppalen laks        Vekt (tonn)  2021U15  17979.00
4     Fersk oppalen laks        Vekt (tonn)  2021U16  16234.00
..                   ...                ...      ...       ...
207  Frosen oppalen laks      Kilopris (kr)  2022U08     72.47
208  Frosen oppalen laks      Kilopris (kr)  2022U09     73.06
209  Frosen oppalen laks      Kilopris (kr)  2022U10     72.26
210  Frosen oppalen laks      Kilopris (kr)  2022U11     68.99
211  Frosen oppalen laks      Kilopris (kr)  2022U12     83.13

[212 rows x 4 columns]